@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400;900&family=Oswald:wght@200;500&display=swap');


*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth ;
}

body{
    font-family: 'Londrina Solid', cursive;
    background-color: rgb(216, 212, 208);
}

.container{
    background-color: rgb(24, 22, 22);
    width: 100%;
    height: 140px;
}

.container-footer{
    background-color: rgb(24, 22, 22);
    width: 100%;
    height: 100px;
}

.title{
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    padding-top: 25px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    
}

.copyright{
    display: inline-block;
    color:rgb(255, 255, 255);
    padding-left: 20px;
    padding-top: 30px;
}

p{
    color:rgb(255, 255, 255);
}

.info-programador{
    display: inline-block;
    padding-left: 60%;
    padding-top: 40px;
}

.info-programador, p{
    display: inline-block;
    padding-right: 15px;
}

.contac{
    color: rgb(243, 129, 22); 
}

.contac:hover{
    color: rgb(255, 255, 255); 
}

.secciones, a{
    padding-left: 30px;
    color: rgb(243, 129, 22);

}

.secciones a:hover{
    color: rgb(255, 255, 255);   
}

.title-seccion{
    padding: 10px/*top*/ 0/*right*/ 10px/*bottom*/ 10px/*left*/;
}

.imagenes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
}

h3{
    text-align: center;
    padding-bottom: 20px;
}

.up-icono{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 129, 22);
    border-radius: 50%;
    padding: 10px;
}
.up-icono:hover{
    background-color: #ffff;
}







